node_modules
bower_components
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/CarTracker.iml
.idea/modules.xml
img/Thumbs.db
python/.idea/workspace.xml
python/.idea/misc.xml
python/.idea/modules.xml
python/.idea/python.iml